*{
	padding:0;
	margin:0;
    font-size: 14px;
    font-family:'微软雅黑';
    box-sizing: border-box !important; 
    word-wrap:break-word;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6,div,p,ul,label {
	margin: 0;
	padding: 0;
}
input,select{
	outline: none;
}
html { 
    /* // overflow-x: scroll;  */
    /* // min-width: 1200px; */
}
body{
	background: #fff;
	color:#17233D ;
    font-size: 14px;
    box-sizing: border-box !important; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    font-family: "微软雅黑";
}
.lt{
	float: left;
}
.rt{
	float: right;
}
.clr{
	clear: both;
}

.kong{
	visibility: hidden;
}

.hidden{
	display: none;
}
a,img{
    cursor: pointer;
}
.dib{
    display: inline-block;
}
.es{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
/* // 对齐 */
.s-mains{
    width: 1300px;
    margin:0 auto;
    height: 100%;
    position: relative
}
.algCenter{
    text-align: center
}
.algRight{
    text-align: right
}
.algLeft{
    text-align: left
}

.ml10{
    margin-left:10px
}
.ml20{
    margin-left:20px;
}
.mt10{
    margin-top:10px
}
.mt20{
    margin-top:20px;
}
.mb10{
    margin-bottom:10px
}
.mb20{
    margin-bottom:20px;
}
.mr10{
    margin-right:10px
}
.mr20{
    margin-right:20px;
}

.f10{
    font-size: 10px;
}
.f12{
    font-size: 12px;
}
.f14{
    font-size: 14px;
}
.f16{
    font-size: 16px;
}
.f18{
    font-size: 18px;
}
.f20{
    font-size: 20px;
}
.f22{
    font-size: 22px;
}
.f24{
    font-size: 24px;
}
.f26{
    font-size: 26px;
}
.f28{
    font-size: 28px;
}
.f30{
    font-size: 30px;
}
.cur{
    cursor: pointer;
}

/* //-webkit 内核浏览器 兼容 滚动条样式 */
::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }
  
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 5px solid transparent;
  }
  
  ::-webkit-scrollbar-track {
      /*滚动条的外层轨道*/
    box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
  }
  
  ::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow:0 0 5px rgba(0,0,0,.2) inset;
    background-color: rgba(165,181,194,.5);
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

.s-button{
    background: #fff;
    border:1px solid #dcdfe6;
    color:#606266;
    line-height: 30px;
    padding:0 20px;
    border-radius: 4px;
}
.s-button-primary{
    background: #4D9DF2;
    border:1px solid #4D9DF2;
    color:#fff;
    line-height: 30px;
    padding:0 20px;
    border-radius: 4px;
}
.s-button-success{
    background: #5FB736;
    border:1px solid #5FB736;
    color:#fff;
    line-height: 30px;
    padding:0 20px;
    border-radius: 4px;
}
.s-button-info{
    background: #93989B;
    border:1px solid #93989B;
    color:#fff;
    line-height: 30px;
    padding:0 20px;
    border-radius: 4px;
}
.s-button-warning{
    background: #EAAF55;
    border:1px solid #EAAF55;
    color:#fff;
    line-height: 30px;
    padding:0 20px;
    border-radius: 4px;
}
.s-button-danger{
    background: #FF6A6A;
    border:1px solid #FF6A6A;
    color:#fff;
    line-height: 30px;
    padding:0 20px;
    border-radius: 4px;
}

.s-button-primary:hover{
    background: #66B1FF;
    border:1px solid #66B1FF;
    color:#fff;
    line-height: 30px;
    padding:0 20px;
    border-radius: 4px;
}
.s-button-success:hover{
    background: #85CE61;
    border:1px solid #85CE61;
    color:#fff;
    line-height: 30px;
    padding:0 20px;
    border-radius: 4px;
}
.s-button-info:hover{
    background: #A6A9AD;
    border:1px solid #A6A9AD;
    color:#fff;
    line-height: 30px;
    padding:0 20px;
    border-radius: 4px;
}
.s-button-warning:hover{
    background: #EBB563;
    border:1px solid #EBB563;
    color:#fff;
    line-height: 30px;
    padding:0 20px;
    border-radius: 4px;
}
.s-button-danger:hover{
    background: #F78989;
    border:1px solid #F78989;
    color:#fff;
    line-height: 30px;
    padding:0 20px;
    border-radius: 4px;
}

.is-disabled.s-button{
    color: #c0c4cc;
    background-color: #fff;
    border-color: #ebeef5;
    cursor: not-allowed;
}
.is-disabled.s-button-primary{
    color: #fff;
    background-color: #a0cfff;
    border-color: #a0cfff;
    cursor: not-allowed;
}
.is-disabled.s-button-success{
    color: #fff;
    background-color: #b3e19d;
    border-color: #b3e19d;
    cursor: not-allowed;
}
.is-disabled.s-button-info{
    color: #fff;
    background-color: #c8c9cc;
    border-color: #c8c9cc;
    cursor: not-allowed;
}
.is-disabled.s-button-warning{
    color: #fff;
    background-color: #f3d19e;
    border-color: #f3d19e;
    cursor: not-allowed;
}
.is-disabled.s-button-danger{
    color: #fff;
    background-color: #fab6b6;
    border-color: #fab6b6;
    cursor: not-allowed;
}

.is-fillet:hover{
    border-radius: 100px;
}
.is-fillet{
    border-radius: 100px;
}

.is-hollow.s-button-primary{
    background: #fff;
    border:1px solid #4D9DF2;
    color:#4D9DF2;
}
.is-hollow.s-button-success{
    background: #fff;
    border:1px solid #5FB736;
    color:#5FB736;
}
.is-hollow.s-button-info{
    background: #fff;
    border:1px solid #93989B;
    color:#93989B;
}
.is-hollow.s-button-warning{
    background: #fff;
    border:1px solid #EAAF55;
    color:#EAAF55;
}
.is-hollow.s-button-danger{
    background: #fff;
    border:1px solid #FF6A6A;
    color:#FF6A6A;
}


.is-hollow.s-button-primary:hover{
    background: #4D9DF2;
    border:1px solid #4D9DF2;
    color:#fff;
}
.is-hollow.s-button-success:hover{
    background: #5FB736;
    border:1px solid #5FB736;
    color:#fff;
}
.is-hollow.s-button-info:hover{
    background: #93989B;
    border:1px solid #93989B;
    color:#fff;
}
.is-hollow.s-button-warning:hover{
    background: #EAAF55;
    border:1px solid #EAAF55;
    color:#fff;
}
.is-hollow.s-button-danger:hover{
    background: #FF6A6A;
    border:1px solid #FF6A6A;
    color:#fff;
}


/* markDownCss */
.hljs-name{
    color:#22863a
}
.hljs-attr{
    color:#6f42c1
}
.hljs-keyword{
    color:red
}   
.hljs-string{
    color:#032f62
}


.iconList .iconfont{
    font-size: 32px;
}